.car-info {
  flex-basis: 100%;
  text-align: left;
  padding: 0 20px 10px;
  display: inline-flex;
  margin-top: -15px;
  flex-wrap: wrap;

  .menu {
    flex: 1;
    padding: 0;

    li {
      display: inline-block;
      font-size: 9px;
      margin-right: 10px;
      font-family: var(--rubik);
      font-weight: 300;
      letter-spacing: -0.3px;

      &:before {
        content: "\00a0\2022\00a0\00a0";
        color: #143656;

        &:first-child {
          content: "";
        }
      }
    }
  }

  img {
    &.tooltip {
      display: block;
      margin-left: auto;
    }
  }

  .car-additional-info {
    width: 100%;
    margin-bottom: 15px;
    z-index: 10;

    hr {
      margin-bottom: 20px;
      background-color: #143656;
    }

    .elements {
      display: flex;
      margin-top: -20px;
      margin-bottom: -20px;

      p {
        font-size: 12px;

        &:nth-child(1) {
          flex: 1;
          text-align: left;
        }

        &:nth-child(2) {
          font-weight: bold;
        }
      }
    }
  }
}
